@font-face {
  src: url(./assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-family: 'Ubuntu';
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url(./assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  font-family: 'Ubuntu';
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-family: 'Ubuntu';
  font-weight: 400;
  font-display: swap;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: var(--marine-blue);
  background-color: var(--light-blue);
}

body {
  max-width: 1280px;
  margin-inline: auto;
  min-width: 320px;
  height: 100vh;
  min-height: 800px;
}

main {
  height: 100%;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center top;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.navbar {
  padding: 2em 0 2.25em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.9375em;
}

.navbar .step {
  font-size: 0.875em;
  line-height: 0.875;
  position: relative;
  isolation: isolate;
  color: var(--light-blue);
}

.step__label {
  --size: 2.28571em;
  width: var(--size);
  height: var(--size);
  border: 1px solid currentColor;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.navbar .step input[type='radio'] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.navbar input[type='radio']:checked ~ .step__label {
  color: var(--marine-blue);
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.step__description {
  display: none;
  visibility: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

[class^='page-'] {
  background-color: #fff;
  margin: 0 1.125em;
  padding: 1.25em;
  border-radius: 0.5em;
  box-shadow: 0 1em 1em #00000011;
}

.step-desc {
  color: var(--cool-gray);
  margin-bottom: 1.125em;
}

.field-wrapper {
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

.field-wrapper:not(:last-child) input {
  margin-bottom: 0.375em;
}

.field-wrapper input {
  color: inherit;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--light-gray);
  transition: box-shadow 0.125s ease-in-out;
  outline: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.125em;
}

.field-wrapper:not(.error) input:focus {
  border-color: var(--purplish-blue);
}

.field-wrapper input::placeholder {
  color: var(--cool-gray);
}

.field-wrapper.error {
  position: relative;
}

.field-wrapper.error input {
  border-color: var(--strawberry-red);
}

.field-wrapper.error::after {
  content: attr(data-message);
  position: absolute;
  top: 2px;
  right: 0;
  color: var(--strawberry-red);
  font-weight: 700;
  line-height: 1.1;
}

.page-2,
.page-3,
.page-4 {
  padding: 1.5em;
}

.page-2 header .step-title {
  margin-bottom: 0.375em;
}

.page-2 header .step-desc {
  margin-bottom: 1.375em;
}

.subscription-option {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  padding: 1.125em;
  position: relative;
  isolation: isolate;
  border-radius: 0.75em;
  margin-bottom: 1em;
}

.subscription-option input {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.subscription-option ul.sub-deets {
  list-style-type: none;
}

.subscription-option ul.sub-deets li.sub-price {
  color: var(--cool-gray);
  font-size: 0.875em;
  line-height: 100%;
}

.subscription-option ul.sub-deets li.discount {
  font-size: 0.75em;
  margin-top: 0.5em;
  line-height: 1;
}

.subscription-option i.indicator {
  all: unset;
  position: absolute;
  inset: 0;
  z-index: -1;
  border: 1px solid var(--light-gray);
  border-radius: 0.75em;
}

.subscription-option input:checked ~ i.indicator {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}

.subscription-interval {
  --toggle-border-width: 3px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.375em;
  padding: 1em;
  border-radius: 0.75em;
  background-color: var(--magnolia);
  margin: 1.5em 0 0.5em;
}

.subscription-interval label {
  line-height: 100%;
  position: relative;
  isolation: isolate;
  font-weight: 500;
  font-size: 1.125em;
}

.subscription-interval label input[name='subscription-interval'] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.subscription-interval
  label
  input[name='subscription-interval']:not(:checked)
  ~ span {
  color: var(--cool-gray);
}

.toggle {
  border: 0;
  padding: 0;
  position: relative;
  isolation: isolate;
  width: calc((1.125em * 1.625) + (2 * var(--toggle-border-width)));
  height: calc(1em + (2 * var(--toggle-border-width)));
  border-radius: 2em;
  background-color: var(--marine-blue);
}

.toggle .knob {
  all: unset;
  pointer-events: none;
  display: inline-block;
  background-color: #fff;
  height: calc(100% - (var(--toggle-border-width) * 2));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  top: var(--toggle-border-width);
  left: var(--toggle-border-width);
  transition: transform 0.1s ease-in-out;
}

.toggle.toggled .knob {
  transform: translateX(calc(62.5% + (var(--toggle-border-width) / 1)));
}

.add-ons label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.875em 1.125em;
  line-height: 1;
  position: relative;
  isolation: isolate;
  border-radius: 0.5em;
  overflow: hidden;
}

.add-ons label:not(:last-child) {
  margin-bottom: 1em;
}

.add-ons label:last-child {
  margin-bottom: 0.5em;
}

.add-ons label input[type='checkbox'] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.add-ons label i.indicator {
  all: unset;
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid var(--light-gray);
}

.add-ons div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: inherit;
}

.add-ons label span.checkbox {
  position: relative;
  font-size: 1.125rem;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  color: #00000000;
  transition: color 0.1s ease-in-out;
}

.add-ons label span.checkbox::before {
  position: absolute;
  inset: 0 0 25% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-ons label input[type='checkbox']:checked ~ i.indicator {
  border-color: var(--purplish-blue);
  background-color: var(--magnolia);
}

.add-ons label input[type='checkbox']:checked ~ span.checkbox {
  color: #fff;
  background-color: var(--purplish-blue);
  border-color: var(--purplish-blue);
}

.add-ons label input[type='checkbox']:checked ~ span.checkbox::before {
  content: url(./assets/images/icon-checkmark.svg);
}

.add-ons label ul.add-on__deets {
  list-style-type: none;
  font-size: 0.9125em;
}

.add-ons label ul.add-on__deets li.add-on__deets__desc {
  font-size: 0.8em;
  margin-top: 0.375em;
  line-height: 1;
  color: var(--cool-gray);
}

.add-ons label .add-on__price {
  font-size: 0.625em;
  color: var(--purplish-blue);
}

.invoice {
  padding: 1.25em 1.125em;
  color: var(--cool-gray);
  background-color: var(--alabaster);
  border-radius: 0.75em;
}

.invoice hr {
  all: unset;
  display: block;
  margin: 0.625em 0;
  width: 100%;
  border-top: 1px solid var(--light-gray);
}

.base {
  line-height: 1;
  padding: 0.125em 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.base ul {
  list-style-type: none;
  font-size: 0.875em;
}

.base ul li.selected {
  color: var(--marine-blue);
  margin-top: 0.375em;
  text-transform: capitalize;
}

.base ul li input {
  border: 0;
  padding: 0;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration: solid underline;
  color: inherit;
  background-color: unset;
}

.base ul li input:active,
.base ul li input:hover{
  color: var(--purplish-blue);
}

.base .selection-price {
  font-size: 0.875em;
  font-weight: 700;
  color: var(--marine-blue);
}

.invoice .add-ons {
  list-style-type: none;
  text-transform: capitalize;
}

.invoice .add-ons li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875em;
}

.invoice .add-ons li:not(:last-child) {
  margin-bottom: 0.5em;
}

.invoice .add-ons li p:last-child {
  font-size: 0.925em;
  text-transform: initial;
  color: var(--marine-blue);
}

.total {
  font-size: 0.875em;
  line-height: 1;
  padding: 1.625em 1.5em 0.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.total p:last-child {
  font-size: 1.125em;
  color: var(--purplish-blue);
}

.footer {
  margin: auto 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--cool-gray);
  background-color: #fff;
  font-size: 0.9375em;
  padding: 1.2em;
}

.footer input[type='button'] {
  line-height: 1;
  text-transform: capitalize;
  border: 0;
  color: inherit;
  background-color: #00000000;
  position: relative;
  transform: translateY(-1px);
}

.footer input[type='button']:not(:disabled):active {
  transform: translateY(0);
}

.footer input[type='button']:disabled {
  opacity: 0.5;
}

.footer input:first-child:not(:disabled):active,
.footer input:first-child:not(:disabled):hover {
  color: var(--marine-blue);
}

.footer input:last-child {
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0 auto;
  padding: 0.75em 0.875em;
  color: #fff;
  background-color: var(--marine-blue);
}

.footer input:last-child[value='confirm'] {
  background-color: var(--purplish-blue);
}

.footer input:last-child[value='confirm']:active,
.footer input:last-child[value='confirm']:hover {
  opacity: 0.9;
}

.footer.hidden {
  all: unset !important;
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

.thanks-page {
  margin: 0 1em;
  padding: 4em 1.25em 5em;
  border-radius: 0.625em;
  color: var(--cool-gray);
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1em 1em #00000011;
}

.thanks-page header img {
  margin-block: 1em;
  margin-inline: auto;
  max-width: 64px;
}

.thanks-page header h1 {
  color: var(--marine-blue);
  margin-block: 0.375em;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  main {
    background: none;
    margin: auto;
    max-width: 1024px;
    max-height: 600px;
    flex-flow: row nowrap;
    background-color: #fff;
    border-radius: 0.75em;
    padding: 0.75em;
    box-shadow: 0 1em 1em #00000011;
  }

  .navbar {
    background: var(--purplish-blue) url(./assets/images/bg-sidebar-desktop.svg)
      no-repeat center bottom / cover;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.75em;
    padding: 2.625em 2em;
    border-radius: 0.625em;
  }

  .navbar .step {
    font-size: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.125em;
  }

  .step__label {
    font-size: 0.9375em;
  }

  .step__description {
    visibility: initial;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
    margin-right: 4em;
  }

  .step__description__heading {
    font-weight: 400;
    font-size: 0.8em;
  }

  .step__description__title {
    color: #fff;
    text-transform: uppercase;
  }

  .wrapper {
    padding-inline: 6em;
  }

  .step-title {
    font-size: 2.0625em;
  }

  .step-desc {
    margin-bottom: 1.375em;
  }

  .field-wrapper {
    font-size: 1em;
  }

  .field-wrapper label {
    font-size: 0.875em;
    line-height: 2;
  }

  .field-wrapper input {
    font-size: 1em;
  }

  [class^='page-'],
  .footer {
    background-color: unset;
  }

  [class^='page-'] {
    border-radius: unset;
    box-shadow: unset;
    margin: unset;
    padding: 2.75em 0 0;
  }

  .subscriptions-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .subscription-option {
    flex-flow: column nowrap;
  }

  .footer {
    margin: auto 0 0;
    font-size: 1em;
    padding: 0.625em 0;
  }
}
