@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: var(--marine-blue);
  background-color: var(--light-blue);
}

body {
  max-width: 1280px;
  margin-inline: auto;
  min-width: 320px;
  height: 100vh;
  min-height: 768px;
}

main {
  height: 100%;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center top;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.navbar {
  padding: 2em 0 2.25em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.9375em;
}

.navbar .step {
  font-size: 0.875em;
  line-height: 0.875;
  position: relative;
  isolation: isolate;
  color: var(--light-blue);
}

.step__label {
  --size: 2.28571em;
  width: var(--size);
  height: var(--size);
  border: 1px solid currentColor;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.navbar .step input[type='radio'] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.navbar input[type='radio']:checked ~ .step__label {
  color: var(--marine-blue);
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.step__description {
  display: none;
  visibility: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.step-1 {
  background-color: #fff;
  margin: 0 1.125em;
  padding: 1.25em;
  border-radius: 0.5em;
  box-shadow: 0 1em 1em #00000011;
}

.step-1__header .step-desc {
  color: var(--cool-gray);
  margin-bottom: 1.125em;
}

.step-1 label[for] {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

.step-1 label[for]:not(:last-child) input[type] {
  margin-bottom: 0.375em;
}

.step-1 label[for] input[type] {
  color: inherit;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--cool-gray);
  transition: box-shadow 0.125s ease-in-out;
  outline: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.125em;
}

.step-1 label[for]:not(.error) input[type]:focus {
  border-color: var(--purplish-blue);
}

.step-1 label[for] input[type]::placeholder {
  color: var(--cool-gray);
}

.step-1 label[for].error {
  position: relative;
}

.step-1 label[for].error input[type] {
  border-color: var(--strawberry-red);
}

.step-1 label[for].error::after {
  content: attr(data-message);
  position: absolute;
  top: 2px;
  right: 0;
  color: var(--strawberry-red);
  font-weight: 700;
  line-height: 1.1;
}

.footer {
  margin: auto 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--cool-gray);
  background-color: #fff;
  padding: 1.125em;
}

.footer input[type='button'] {
  line-height: 1;
  text-transform: capitalize;
  border: 0;
  color: inherit;
  background-color: #00000000;
  position: relative;
  transform: translateY(-1px);
}

.footer input[type='button']:not(:disabled):active {
  transform: translateY(0);
}

.footer input[type='button']:disabled {
  opacity: 0.5;
}

.footer input[value='go back'] {
  display: none;
  visibility: hidden;
}

.footer input[value='go back']:not(:disabled):active,
.footer input[value='go back']:not(:disabled):hover {
  color: var(--marine-blue);
}

.footer input[value='next step'] {
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0 auto;
  font-size: 0.9375em;
  padding: 0.75em 0.875em;
  color: #fff;
  background-color: var(--marine-blue);
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  main {
    background-image: none;
    margin: auto;
    max-width: 1024px;
    height: auto;
    flex-flow: row nowrap;
    background-color: #fff;
    border-radius: 0.75em;
    padding: 0.75em;
  }

  .navbar {
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.75em;
    padding-block: 2.5em;
    padding-inline: 2em 4em;
    border-radius: 0.625em;
  }

  .navbar .step {
    font-size: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
  }

  .step__description {
    visibility: initial;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
  }

  .step__description__heading {
    font-weight: 400;
    font-size: 0.8em;
  }

  .step__description__title {
    color: #fff;
    text-transform: uppercase;
  }

  .wrapper {
    padding: 2.5em 5em 1em;
  }

  .step-1,
  .footer {
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    margin: unset;
    padding: unset;
  }
}

*::before,
*,
*::after {
  outline: 1px solid red;
}
